<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HTML Compressor</title>
    <meta name="description" content="HTML Compressor Concept: Minify your html source code">
    <meta name="keywords" content="Web, development, tool, html, minify">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:300" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="scripts/main.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="over-wrap">
            <div id="content">
                <h1 id="title">HTML Compressor</h1> 
                <div id="button-wrap"> <span id="close">x</span> 
                    <textarea id="source"></textarea>
                    <button id="top">How to Use?</button>
                    <button id="bottom">Compress</button>
                    <div class="la-anim-6">
                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="500" height="500" viewBox="0 0 500 500">
                            <path id="la-anim-6-border" transform="translate(250, 250)" d="M 0 0 v -250 A 250 250 1 0 1 0 -250 z"></path>
                            <path id="la-anim-6-loader" transform="translate(250, 250) scale(0.9)" d="M 0 0 v -250 A 250 250 1 0 1 0 -250 z"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div> <a href="http://www.koheishingai.com" target="_blank"><h1 id="logo">www.koheishingai.com</h1></a> 
    </div>
    </div>
    <div id="shares">
        <div id="gcon"></div>
        <div id="fbcon"></div>
        <div id="twicon"></div>
    </div>
    <img id="wrap-background" src="https://farm3.staticflickr.com/2898/14016886289_30f3ac3c99_b.jpg">
    <span id="forkongithub"><a href="https://github.com/koheishingai/HTML_Compressor">Fork me on GitHub</a></span>
</body>
</html>